PORT=3001
NODE_ENV=production
JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_EXPIRES_IN=8h
FRONTEND_URL=https://tu-proyecto.netlify.app
GCP_CLIENT_ID=tu-client-id.apps.googleusercontent.com

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=fl_snf_db
DB_PORT=3306
